* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-div {
  margin: 15px;
}

nav {
  background-color: #a14e30;
  color: aliceblue;
  font-size: larger;
  text-align: center;
}

nav ul li {
  list-style-type: none;
  padding: 15px 30px;
  display: inline-flex;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
  border: 1px solid #a14e30;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #cc7f50;
}

.content h2 {
  color: #a14e30;
  margin: 15px 15px 20px;
}

.blog-content {
  display: flex;
}

.blog-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.blog-card {
  width: 20%;
  border: 1px solid #a14e30;
  margin: 20px;
  padding: 20px;
}

.blog-content a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-content a {
  text-decoration: none;
  color: #333333;
}

.blog-card h4 {
  text-align: center;
  color: #cc7f50;
  padding: 5px;
}

.blog-card p code {
  color: #a14e30;
}

/* Styles for createBlog.ejs begin here */

form {
  color: #444444;
  font-size: large;
  width: 40%;
  margin: auto;
}

label {
  display: block;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #a14e30;
}

input[type="submit"],
button {
  padding: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 0 10px 0;
}

input[type="submit"] {
  background-color: #a14e30;
  color: whitesmoke;
}

button {
  background-color: #999999;
  color: whitesmoke;
}

input[type="text"]:focus {
  width: 100%;
  border-color: #a14e30;
}

.submit-clear-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
