<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Markdown Blog</title>
  </head>
  <body>
    <div class="container-div">
      <%- include('_Navbar.ejs') %>
      <section class="content">
        <h2>Blogs</h2>
        <div class="blog-content">
          <a class="blog-card" href="/blogs/id">
            <h4>Blog Title</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam, voluptatibus delectus laboriosam quod ex, tempora,
              similique rem officia id suscipit repudiandae distinctio! Ipsa
              sapiente laudantium, sint culpa qui sit, vel aspernatur optio eius
              adipisci officia, distinctio impedit modi exercitationem numquam
              hic aut aliquam at consequatur blanditiis natus nam inventore?
              Iusto?
            </p>
            <p><code>Author name</code></p>
          </a>

          <a class="blog-card" href="/blogs/id">
            <h4>Blog Title</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam, voluptatibus delectus laboriosam quod ex, tempora,
              similique rem officia id suscipit repudiandae distinctio! Ipsa
              sapiente laudantium, sint culpa qui sit, vel aspernatur optio eius
              adipisci officia, distinctio impedit modi exercitationem numquam
              hic aut aliquam at consequatur blanditiis natus nam inventore?
              Iusto?
            </p>
            <p><code>Author name</code></p>
          </a>

          <a class="blog-card" href="/blogs/id">
            <h4>Blog Title</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam, voluptatibus delectus laboriosam quod ex, tempora,
              similique rem officia id suscipit repudiandae distinctio! Ipsa
              sapiente laudantium, sint culpa qui sit, vel aspernatur optio eius
              adipisci officia, distinctio impedit modi exercitationem numquam
              hic aut aliquam at consequatur blanditiis natus nam inventore?
              Iusto?
            </p>
            <p><code>Author name</code></p>
          </a>

          <a class="blog-card" href="/blogs/id">
            <h4>Blog Title</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam, voluptatibus delectus laboriosam quod ex, tempora,
              similique rem officia id suscipit repudiandae distinctio! Ipsa
              sapiente laudantium, sint culpa qui sit, vel aspernatur optio eius
              adipisci officia, distinctio impedit modi exercitationem numquam
              hic aut aliquam at consequatur blanditiis natus nam inventore?
              Iusto?
            </p>
            <p><code>Author name</code></p>
          </a>

          <a class="blog-card" href="/blogs/id">
            <h4>Blog Title</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam, voluptatibus delectus laboriosam quod ex, tempora,
              similique rem officia id suscipit repudiandae distinctio! Ipsa
              sapiente laudantium, sint culpa qui sit, vel aspernatur optio eius
              adipisci officia, distinctio impedit modi exercitationem numquam
              hic aut aliquam at consequatur blanditiis natus nam inventore?
              Iusto?
            </p>
            <p><code>Author name</code></p>
          </a>
        </div>
      </section>
    </div>
  </body>
</html>
